$font-ui: 'Oxanium', sans-serif;
$font-body: 'Inter', sans-serif;

$font-ui-xs-size: 12px;
$font-ui-xs-line-height: 16px;
$font-ui-xs-weight: 500;

$font-ui-sm-size: 14px;
$font-ui-sm-line-height: 18px;
$font-ui-sm-weight: 600;

$font-ui-md-size: 16px;
$font-ui-md-line-height: 20px;
$font-ui-md-weight: 600;

$font-ui-lg-size: 20px;
$font-ui-lg-line-height: 24px;
$font-ui-lg-weight: 700;

$font-ui-xl-size: 28px;
$font-ui-xl-line-height: 32px;
$font-ui-xl-weight: 700;

$font-body-sm-size: 14px;
$font-body-sm-line-height: 20px;
$font-body-sm-weight: 400;

$font-body-md-size: 16px;
$font-body-md-line-height: 24px;
$font-body-md-weight: 400;

$font-body-lg-size: 18px;
$font-body-lg-line-height: 24px;
$font-body-lg-weight: 400;

$font-body-medium-weight: 500;
$font-body-semibold-weight: 600;
